services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - DB_URL=${DB_URL}
    volumes:
      - .:/app
    depends_on:
      - db
    develop:
      watch:
        - action: sync
          path: ./main.py
          target: /app/main.py
        - action: rebuild
          path: ./requirements.txt
  db:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mydatabase
      - MYSQL_USER=myuser
      - MYSQL_PASSWORD=mypassword
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
volumes:
  db-data:
