<a href="/project/{{ project.id }}" class="card block transform transition-transform duration-300 hover:-translate-y-1">
  <div class="p-6">
    <div class="mb-2">
      {% if project.status == 3 %}
        <span class="me-2 rounded bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">Taken</span>
      {% elif project.status == 2 %}
        <span class="me-2 rounded bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800 dark:bg-green-900 dark:text-green-300"> Approved</span>
      {% elif project.status == 1 %}
        <span class="me-2 rounded bg-yellow-100 px-2.5 py-0.5 text-sm font-medium text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">Pending Approval</span>
      {% else %}
        <span class="me-2 rounded bg-red-100 px-2.5 py-0.5 text-sm font-medium text-red-800 dark:bg-red-900 dark:text-red-300"> Submitted</span>
      {% endif %}
    </div>
    <h3 class="text mb-2 truncate text-xl font-semibold">{{ project.name }}</h3>
    <p class="text mb-4 line-clamp-3">{{ project.description }}</p>
    <div class="border-t border-gray-200 pt-4 dark:border-gray-700">
      <p class="text-sm text-gray-500 dark:text-gray-300">
        <span class="me-2">Created by: <span class="font-medium text-blue-600 dark:text-blue-400">{{ project.email }}</span></span>
      </p>
    </div>
  </div>
</a>
