<tr class="group cursor-pointer hover:bg-neutral-50 dark:hover:bg-neutral-800/50" onclick="window.location.href='/project/{{ project.id }}'">
  <td class="px-6 py-4">
    {% if project.status == 3 %}
      <span class="me-2 rounded bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">Taken</span>
    {% elif project.status == 2 %}
      <span class="me-2 rounded bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800 dark:bg-green-900 dark:text-green-300"> Approved</span>
    {% elif project.status == 1 %}
      <span class="me-2 rounded bg-yellow-100 px-2.5 py-0.5 text-sm font-medium text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">Pending</span>
    {% else %}
      <span class="me-2 rounded bg-red-100 px-2.5 py-0.5 text-sm font-medium text-red-800 dark:bg-red-900 dark:text-red-300"> Submitted</span>
    {% endif %}
  </td>
  <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">{{ project.name }}</td>
  <td class="px-6 py-4">
    <p class="line-clamp-2">{{ project.description }}</p>
  </td>
  <td class="px-6 py-4">{{ project.business_name }}</td>
</tr>
