<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/theme.js"></script>
    {% block head %}{% endblock %}
    <title>Code Connect</title>
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    {% include 'partials/nav.html' %}
    <div>
      {% block content %}
        <p>This is the default content from the shell. It will be replaced by other templates.</p>
      {% endblock %}
    </div>
  </body>
</html>
