<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/theme.js"></script>
    <script src="/static/at.js"></script>
    {% block head %}{% endblock %}
    <title>Code Connect</title>
  </head>
  <body>
    <nav class="border-b border-b-neutral-200 px-12 dark:border-b-neutral-800">
      <div class="mx-auto flex flex-wrap items-center justify-between p-4">
        <button id="doc-toggle-button" popovertarget="sidebar" popovertargetaction="show" class="text hidden lg:hidden">
          <svg class="text h-8 w-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
          </svg>
        </button>
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="text text-2xl font-bold"> Code<span class="text-blue-600">Connect</span> </span>
        </a>
        <ul class="flex flex-row space-x-4 font-medium">
          {% if 'email' in session %}
            {% if session['email'] and session.get('role') in [3] %}
							<a href="/jobs" class="text">Jobs</a>
						{% endif %}
            <a href="/profile" class="text">Profile</a>
            {% if session['email'] and session.get('role') in [0] %}
              <a href="/userMgt" class="text">UserMgt</a>
            {% endif %}
          {% else %}
            <a href="/register" class="text">Register</a>
            <a href="/login" class="text">Login</a>
          {% endif %}
          <button onclick="theme()" class="text">Theme</button>
        </ul>
      </div>
    </nav>
    <div>
      {% block content %}
        <p>This is the default content from the shell. It will be replaced by other templates.</p>
      {% endblock %}
    </div>
  </body>
</html>
