@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white dark:bg-black;
  }
  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}

@layer components {
  .input {
    @apply w-full rounded-lg border border-neutral-300 p-2 placeholder:text-neutral-500 dark:border-neutral-700;
  }
  .text {
    @apply text-black dark:text-white;
  }
  .card {
    @apply rounded-lg border border-neutral-200 bg-white shadow-sm dark:border-neutral-700 dark:bg-neutral-800;
  }
}
