/* how inputs are handled on the website */

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}
