{% extends "./layouts/shell.html" %}

{% block content %}
  <form action="/register" method="POST" class="mx-auto mt-6 max-w-[500px] space-y-4 rounded-lg border border-neutral-200 bg-white p-5 shadow-sm dark:border-neutral-700 dark:bg-neutral-800">
    <h1 class="mb-2 text-center text-2xl font-bold">Register</h1>
    <label class="mb-2 block text-sm font-bold" for="role"> Account Type </label>
    <select id="role" name="role" class="w-full rounded-lg border border-neutral-300 bg-white p-2 shadow-none placeholder:text-neutral-500 dark:border-neutral-700 dark:bg-neutral-800">
      <option value="" disabled selected>Select Account Type</option>
      <option value="0">Instructor</option>
      <option value="1">Business</option>
      <option value="2">Alumni</option>
      <option value="3">Student</option>
    </select>
    <label class="mb-2 block text-sm font-bold" for="reg_email"> Email </label>
    <input name="email" class="w-full rounded-lg border border-neutral-300 p-2 placeholder:text-neutral-500 dark:border-neutral-700" id="reg_email" type="email" placeholder="your@email.com" />
    <label class="mb-2 block text-sm font-bold" for="reg_pwd">Password</label>
    <input name="password" class="w-full rounded-lg border border-neutral-300 p-2 placeholder:text-neutral-500 dark:border-neutral-700" id="reg_pwd" type="password" placeholder="*****" />
    <label class="mb-2 block text-sm font-bold" for="reg_pwd2">Reenter Password</label>
    <input name="password2" class="w-full rounded-lg border border-neutral-300 p-2 placeholder:text-neutral-500 dark:border-neutral-700" id="reg_pwd2" type="password" placeholder="*****" />
    <button type="submit" class="inline-flex w-full items-center justify-center rounded-lg bg-blue-600 px-5 py-2.5 text-white hover:bg-blue-800 focus:ring-blue-300 disabled:bg-neutral-700">Register</button>
    <p class="text-neutral-500">
      Already have an account?
      <a href="/login" class="font-medium text-blue-600 hover:underline">Login</a>
    </p>
  </form>
{% endblock %}
